h1 {
    color: aquamarine;
}

img {
    width: 300px;
    padding: 25px;
}

.char-image {
    transition: all ease-in 200ms, border-radius 100ms linear;
}

.char-image:hover {
   transform: scale(1.1);
   border-radius: 70%;
}

.char-image:active {
   transform: scale(1.5);
}