.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.scoreCard {
  font-size: 2rem;
  padding: 10px;
  color: white;
  background-color: goldenrod
}

#scoresDiv {
  text-align: left;
  margin-right: 10px;
  padding: 10%;
  background-image: url("./Photos/gondor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
}

#comment {
  color: whitesmoke;
}


